h1,h2{
  text-align: center;
  padding-top: 20px;
}
ul{text-align: center}
li{display: inline-block;padding: 20px}
.menu-btn{display: none}
@media screen and (max-width: 600px) {
  ul{display: none;padding: 0;}
  ul li{display: block;}
  .menu-btn{display: block;text-align: center;}
}
